/*************/
/* variables */
/*************/
:root {
    --main-bg-color: #19180A;   
    --main-font-color: #E3DBDB;
}



/**********/
/* global */
/**********/
.App {
    background-color: #28428F;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #19180A, #28428F), repeating-radial-gradient(circle at center center, #19180A, #19180A, 27px, transparent 54px, transparent 27px);
    background-blend-mode: multiply;
    color: var(--main-font-color);
}

/**********/
/* mobile */
/**********/
#headerComponent {
    position: relative;
    height: 7vh;
    display: flex;
    justify-content: space-between;
}
    #headerComponent * {
        background-color: black;
    }

#mainComponent {
    height: 88vh;
    width: 100vw;
    display: flex;
    overflow: -moz-hidden-unscrollable;
}

#footerComponent {
    height: 5vh;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

/**********/
/* tablet */
/**********/

/***********/
/* desktop */
/***********/


/* ripple */
.ripple0 {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.ripple0:before,
.ripple0:after {
  content:'';
  display:block;
  position:absolute;
  top:0; right:0; bottom:0; left:0;
  background-image: transparent;
                    border: double 1em transparent;
                    border-radius: 50%;
                    /* background-image: radial-gradient(circle, #19180A 35%, #28428F 65%);
                     */
                    background-image: radial-gradient(circle at center center, #000 30%, #28428F), repeating-radial-gradient(circle at center center, #000, #000, 27px, transparent 54px, transparent 27px);
                    background-origin: border-box;
                    background-clip: content-box, border-box;
}

.ripple0:before {
    animation: ripple 5s linear infinite;
  }
.ripple0:after {
    animation: ripple 5s linear .75s infinite;
  }

@keyframes ripple{
    0% {transform:scale(1); }
    75% {transform:scale(6); opacity:1;}
    100% {transform:scale(8); opacity:0;}
  }