/*************/
/* variables */
/*************/
:root {
    --main-bg-color: #19180A;   
    --main-font-color: #E3DBDB;
}



/**********/
/* global */
/**********/
.App {
    background-color: #28428F;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #19180A, #28428F), repeating-radial-gradient(circle at center center, #19180A, #19180A, 27px, transparent 54px, transparent 27px);
    background-blend-mode: multiply;
    color: var(--main-font-color);
}

/**********/
/* mobile */
/**********/
#headerComponent {
    position: relative;
    height: 7vh;
    display: flex;
    justify-content: space-between;
}
    #headerComponent * {
        background-color: black;
    }

#mainComponent {
    height: 88vh;
    width: 100vw;
    display: flex;
    overflow: -moz-hidden-unscrollable;
}

#footerComponent {
    height: 5vh;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

/**********/
/* tablet */
/**********/

/***********/
/* desktop */
/***********/


/* ripple */
.ripple0 {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.ripple0:before,
.ripple0:after {
  content:'';
  display:block;
  position:absolute;
  top:0; right:0; bottom:0; left:0;
  border-radius:50%;
  border:1px solid #011242;
}

.ripple0:before {
    animation: ripple 6s linear infinite;
  }
.ripple0:after {
    animation: ripple 6s linear 1s infinite;
  }



@keyframes ripple{
    0% {transform:scale(1); }
    75% {transform:scale(17.5); opacity:1;}
    100% {transform:scale(20); opacity:0;}
  }